.country-list {
  padding: 0;
}
.country-item {
  list-style-type: none;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  margin: 15px;
}

.selected {
  background-color: #1d9ce5;
}

.selected:hover {
  background-color: #2d6987 !important;
  color: white;
}

.country-item:hover {
  background-color: rgb(180,180,180);
  cursor: pointer;
}

.country-item__delete:hover {
  background-color: rgb(180, 50, 50);
  cursor: pointer;
  padding: 7px;
}

.country-item div {
  display: inline-block;
}
.country-item__info {
  width: 80%;
  padding: 7px;
}
.country-item__label {
  width: 50%;
}
.country-item__delete {
  width: 20%;
}
.country-item__delete:hover {
  color: white;
}