.loader {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(180,180,180, 0.5);
}
.loader__icon {
  position: fixed;
  z-index: 99999;
  left: calc(50% - 107px);
  top: calc(50% - 144px);
}